services:
  lifescape:
    image: node:20
    container_name: lifescape-dev
    labels:
      - dev.orbstack.domains=life.orb.local
    volumes:
      - "./:/lifescape"
    working_dir: "/lifescape"
    command: npm run dev -- --host
    ports:
      - 4321:4321